@page
@model VictoriaLuconin.Pages.ContactsModel
@{
}
<DOCTYPE HTML>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Автомобили</title>
        <style>

            body {
                /*background-image: url('https://avatars.mds.yandex.net/get-vertis-journal/4465444/_3.jpg_1652695210253/orig');
                background-size: 100% auto;
                background-position: top;
                background-repeat: no-repeat;
                background-attachment: scroll;*/
                height: 100vh; /* Это устанавливает высоту фона на 100% высоты видимой области */
                margin: 0; /* Убирает отступы по умолчанию */
                padding: 0; /* Убирает внутренние отступы по умолчанию */
                font-family: Arial, sans-serif; /* Замените шрифт на нужный */
            }

            .header {
                color: #fff;
                text-align: center;
                padding: 35px;
            }

            nav {
                display: flex;
                justify-content: center;
                background-color: #63beef;
                padding: 20px 0;
            }


                nav a {
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 20px;
                    margin: 0 10px;
                }

            h1, h2, h3, h4, h5, h6 {
                color: black;
            }


        </style>
    </head>
    <body>


        <header class="header">
            <h1>
                <strong>О компании</strong>
            </h1>
            <br />
            <h4>
                Покупаем и привозим авто из США, Кореи, Китая и других стран мира.
                Доставим авто в любую точку мира! Наш опыт 10 лет работы, более 20 000 купленных и доставленных авто.
            </h4>
            <br />
            <br />
            <br />
            <h1>
                <strong>Наши услуги:</strong>
            </h1>
            <br />
            <h4>
                <ul style="text-align:left">
                    <li>
                        Подбор и покупка авто в США, Кореи на аукционах или покупка нового электромобиля в Китае
                    </li>
                    <li>
                        Наземная перевозка с аукциона в порт погрузки
                    </li>
                    <li>
                        Оформление всех экспортных документов
                    </li>
                    <li>
                        Доставка авто
                    </li>
                    <li>
                        Растаможка и оформление
                    </li>
                </ul>
            </h4>
            <br />
            <br />
            <br />

            <h1>Мы официальные партнеры американских и корейских аукционов автомобилей</h1>
            <img style="width: 400px" src="https://optim.tildacdn.one/tild3464-6166-4733-b933-616165643564/-/resize/300x/-/format/webp/glovis2-450x225.jpg" width="1000" />
            <br />
            <br />
            <br />
            <h1>
                <strong>Наши Контакты:</strong>
            </h1>
            <br />
            <h4>
                Bulevardul Iuri Gagarin 7, Chișinău 2000, Молдова<br />
                Часы работы:<br />
                Пн-пт: 9:00-18:00<br />
                Сб: 10:00-19:00<br />
            </h4>

        </header>



    </body>
</html>
</DOCTYPE>