@page
@model IndexModel
@{
    ViewData["Title"] = "Автомобили";
}


<DOCTYPE HTML>
    <html>
    <head>
        <title>Автомобили</title>
        <style>
           
            body {
                background-image: url('https://www.zr.ru/d/story/67/944487/2.jpg');
                background-size: 100% auto;
                background-position: top;
                background-repeat: no-repeat;
                background-attachment: scroll;
                height: 100vh; /* Это устанавливает высоту фона на 100% высоты видимой области */
                margin: 0; /* Убирает отступы по умолчанию */
                padding: 0; /* Убирает внутренние отступы по умолчанию */
                font-family: 'Roboto', Arial, sans-serif; /* Замените шрифт на нужный */
              
                      
            }

            .top-bar {
                background-color: #333; /* Цвет фона верхней панели */
                padding: 10px;
                color: #fff;
                text-align: right;
                font-size: 14px;
            }
            .container {
                max-width: 1200px; /* Замените на необходимую ширину контейнера */
                margin: 0 auto; /* Центрирует контейнер на странице */
                padding: 20px; /* Добавляет внутренний отступ для контента */
                color: #ffffff; /* Цвет текста */
            }

            .header {
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: red;
            }

            .contact-section,
            .help-section,
            .about-section {
                background-color: #333; /* Цвет фона для разделов с контактами, помощью и информацией о нас */
                color: #fff;
                padding: 20px;
                margin-top: 30px;
            }
           
            
        </style>
    </head>
    <body>

      
        <div class="header">
            <h1>
                <strong>Подберем авто вашей мечты</strong>
            </h1>
            <p>США - КИТАЙ - КОРЕЯ</p>
        </div>

      

        <!-- Контакты -->
        <div class="contact-section container">
            <h2>Контакты</h2>
            <p>Здесь разместите контактную информацию.</p>
        </div>

        <!-- Помощь -->
        <div class="help-section container">
            <h2>Помощь</h2>
            <p>Здесь разместите информацию о помощи.</p>
        </div>

        <!-- О нас -->
        <div class="about-section container">
            <h2>О нас</h2>
            <p>Здесь разместите информацию о вашей компании.</p>
        </div>

    </body>
    </html>
</DOCTYPE>