@page
@model IndexModel
@{
    ViewData["Title"] = "Автомобили";
}


<DOCTYPE HTML>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Автомобили</title>
        <style>
           
            body {
                background-image: url('https://avatars.mds.yandex.net/get-vertis-journal/4465444/_3.jpg_1652695210253/orig');
                background-size: 100% auto;
                background-position: top;
                background-repeat: no-repeat;
                background-attachment: scroll;
                height: 100vh; /* Это устанавливает высоту фона на 100% высоты видимой области */
                margin: 0; /* Убирает отступы по умолчанию */
                padding: 0; /* Убирает внутренние отступы по умолчанию */
                font-family:  Arial, sans-serif; /* Замените шрифт на нужный */
              
                      
            }

            .header {
                color: #fff;
                text-align: center;
                padding: 35px;
            }

            nav {
                display: flex;
                justify-content: center;
                background-color: #63beef;
                padding: 20px 0;
            }


            nav a {
                color: #fff;
                text-decoration: none;
                padding: 10px 20px;
                margin: 0 10px;
                text-align:right;
            }

            h1, h2, h3, h4, h5, h6 {
                color: white;
            }

        </style>
    </head>
    <body>


        <header class="header">
            <h1>
                <strong>Подбор, покупка и доставка авто из Кореи, США и Китая</strong>
            </h1>
            <p>США - КИТАЙ - КОРЕЯ</p>
        </header>
        
       
       
    </body>
    </html>
</DOCTYPE>